@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";
/*If you get an Unknown Rule error, its just a warning from VSCode. Shouldn't be a problem
  also this file looks like ass, if you know any plugin or something to fix it, that would be awesome*/