@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  /* Hide scrollbars in WebKit (Chrome/Safari/Edge) */
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbars in Firefox & IE/Edge */
  html, body {
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;   /* IE 10+ */
    overflow-y: auto;           /* only show scrollbars when needed */
  }
}
